@model TestCE.Models.ExchangeView

@{
    ViewData["Title"] = "Home Page";
}

<form id="ExchangeForm" asp-antiforgery="true">
    <div class="main-div d-flex justify-content-center">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="right bottom">
            <label class="amount d-block control-label" asp-for="@Model.FromAmount">Amount</label>
            <input id="fromamount" asp-for="@Model.FromAmount" class="form-control">
            <span class="text-danger"></span>
        </div>
        <div class="flex-column-reverse d-flex bottom" style="display:grid">
            <button class="btn btn-light
                    dropdown-toggle" type="button"
                    id="my_select"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false">
                <img src="~/Images/Europe-flag.png"
                     width="20" height="15" data-value="EUR">  EUR
            </button>
            <ul class="dropdown-menu"
                aria-labelledby="my_select">
                <li class="dropdown-item">
                    <img src="~/Images/Europe-flag.png"
                         width="20" height="15" data-value="EUR"> EUR
                </li>
                <li class="dropdown-item">
                    <img src="~/Images/US-Flag.png"
                         width="20" height="15" data-value="USD"> USD
                </li>
                <li class="dropdown-item">
                    <img src="~/Images/Great-Britain-Flag.png"
                         width="20" height="15" data-value="GBP"> GBP
                </li>
                <li class="dropdown-item">
                    <img src="~/Images/Swiss-flag.png"
                         width="20" height="15" data-value="CHF"> CHF
                </li>
            </ul>
        </div>
        <div class="right flex-column-reverse d-flex">
            <submit type="button" onclick="Swap()">
                <img src="~/Images/ExchangeArrow.JPG" />
            </submit>
        </div>
        <div class="right bottom d-block">
            <label class="convertto d-block" asp-for="@Model.ToAmount">Convert To</label>
            <input id="convertto" name="convertto" asp-for="@Model.ToAmount" class="form-control">
            <span class="text-danger"></span>
        </div>
        <div class="d-flex flex-column-reverse bottom">
            <button class="btn btn-light
                    dropdown-toggle" type="button"
                    id="TO"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false">
                <img src="~/Images/Europe-flag.png"
                     width="20" height="15" data-value="EUR">  EUR
            </button>
            <ul class="dropdown-menu"
                aria-labelledby="my_select">
                <li class="dropdown-item">
                    <img src="~/Images/Europe-flag.png"
                         width="20" height="15" data-value="EUR"> EUR
                </li>
                <li class="dropdown-item">
                    <img src="~/Images/US-Flag.png"
                         width="20" height="15" data-value="USD"> USD
                </li>
                <li class="dropdown-item">
                    <img src="~/Images/Great-Britain-Flag.png"
                         width="20" height="15" data-value="GBP"> GBP
                </li>
                <li class="dropdown-item">
                    <img src="~/Images/Swiss-flag.png"
                         width="20" height="15" data-value="CHF"> CHF
                </li>
            </ul>
        </div>
    </div>
    <div class="right bottom d-flex justify-content-between">
        <label> 1 <span id="currencyfrom"></span><text style="color:#51c508;" id="calculatedrate"></text><span id="currencyto"></span></label>
        <button class="btn btn-success" onclick="Exchange()">Exchange</button>
    </div>
</form>
<table class="table table-bordered table-hovered" id="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => Model.Rates.First().Id)
            <input id="input1" onkeyup="filterFunction('input1', '0')" />
        </th>
        <th>
            @Html.DisplayNameFor(model => Model.Rates.First().FromCurrency)
            <input id="input2" onkeyup="filterFunction('input2', '1')" />
        </th>
        <th>
            @Html.DisplayNameFor(model => Model.Rates.First().FromAmount)
            <input id="input3" onkeyup="filterFunction('input3', '2')" />
        </th>
        <th>
            @Html.DisplayNameFor(model => Model.Rates.First().ToCurrency)
            <input id="input4" onkeyup="filterFunction('input4', '3')" />
        </th>
        <th>
            @Html.DisplayNameFor(model => Model.Rates.First().ToAmount)
            <input id="input5" onkeyup="filterFunction('input5', '4')" />
        </th>
        <th>
            @Html.DisplayNameFor(model => Model.Rates.First().Date)
            <input id="input6" onkeyup="filterFunction('input6', '5')" />
        </th>
    </tr>
    @foreach (var models in Model.Rates)
    {
        <tr id="mainrow">
            <td id="0">@models.Id</td>
            <td id="1">@models.FromCurrency</td>
            <td id="2">@models.FromAmount</td>
            <td id="3">@models.ToCurrency</td>
            <td id="4">@models.ToAmount</td>
            <td id="5">@models.Date</td>
        </tr>
    }
</table>